.component-listagem-blog,
.swiperBlog {
    .a-main {
        cursor: pointer;
        &:hover {
            background: #6346bf;
            color: white;
            .btn {
                background-color: white;
                color: #6346bf;
            }
            p {
                background-color: #8566e8;
            }
        }
    }
    .listagem-blog {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 3rem;
        padding: 3rem 0;
    }
    .card-blog {
        border-radius: 0 20px 20px;
        transition: 0.3s;
        box-shadow: 0px 18px 59px -37px #6346bf;
        &:hover {
            background: #6346bf;
            color: white;
            .btn {
                background-color: white;
                color: #6346bf;
            }
            p {
                background-color: #8566e8;
            }
            h3 {
                color: white;
            }
        }
    }
    .card-blog-content {
        height: 12rem;
        padding: 3rem 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .img-card-blog-container {
        height: 180px;
        width: 100%;
        img {
            height: 100%;
            width: 100%;
        }
    }
    .card-blog-data {
        position: absolute;
        top: 0;
        left: 15px;
        font-size: 0.8rem;
        font-weight: 300;
        padding: 0.5rem 1rem;
        color: white;
        background-color: #6346bf;
    }
    .btn {
        transition: 0.3s;
        position: absolute;
        right: 0;
        bottom: 0;
        color: white;
        background-color: #6346bf;
        padding: 0.4rem 0.8rem;
        border-radius: 20px 0 20px 0;
        font-size: 1.6rem;
        font-weight: 400;
    }
    h3 {
        color: black;
    }
}
.section-blog-integra {
    .img-integra-wrapper {
        max-width: 100%;
        img {
            width: 100%;
        }
    }
    .blog-post {
        padding: 4rem 0;
        box-sizing: border-box;
        p {
            color: #1f394c;
            line-height: 29.56px;
            margin-bottom: 1rem;
        }
    }
    .blog-share-content {
        display: flex;
        margin-top: 3rem;
        gap: 1rem;
        align-items: center;
        p {
            margin-bottom: unset;
        }
    }

    .line {
        background: linear-gradient(96.21deg, #8345c0 2.61%, #5846be 99.5%);
        height: 2px;
        width: 100%;
    }
    .related-posts {
        .title-wrapper {
            h3 {
                font-weight: 400;
            }
            display: flex;
            text-align: center;
            text-transform: uppercase;
            align-items: center;
            flex-direction: column;
        }
        .component-listagem-blog {
            margin-top: unset;
        }
        padding: 5rem 0;
    }
    // margin-top: 5rem;
    // .title,
    // .subtitle {
    //     text-align: center;
    //     text-transform: uppercase;
    // }
    // .listagem-blog {
    //     margin-top: 3rem;
    //     display: flex;
    //     justify-content: space-between;
    // }
    // .card-blog {
    //     width: 30%;
    //     border-radius: 0 20px 20px;
    //     transition: 0.3s;
    //     box-shadow: 0px 18px 59px -37px #6346bf;
    //     &:hover {
    //         background: #6346bf;
    //         color: white;
    //         .btn {
    //             background-color: white;
    //             color: #6346bf;
    //         }
    //         p {
    //             background-color: #8566e8;
    //         }
    //     }
    // }
    // .card-blog-content {
    //     height: 12rem;
    //     padding: 3rem 2rem;
    //     display: flex;
    //     justify-content: center;
    //     flex-direction: column;
    //     align-items: center;
    //     position: relative;
    // }
    // .img-card-blog-container {
    //     height: 180px;
    //     width: 100%;
    //     img {
    //         height: 100%;
    //         width: 100%;
    //     }
    // }
    // p {
    //     position: absolute;
    //     top: 0;
    //     left: 15px;
    //     font-size: 0.8rem;
    //     font-weight: 300;
    //     padding: 0.5rem 1rem;
    //     color: white;
    //     background-color: #6346bf;
    // }
    // .btn {
    //     transition: 0.3s;
    //     position: absolute;
    //     right: 0;
    //     bottom: 0;
    //     color: white;
    //     background-color: #6346bf;
    //     padding: 0.4rem 0.8rem;
    //     border-radius: 20px 0 20px 0;
    //     font-size: 1.6rem;
    //     font-weight: 400;
    // }
}
.section-listagem-blog {
    padding: 3rem 0;
    form,
    .filter-wrapper,
    .select-wrapper {
        display: flex;
        gap: 0.8rem;
        align-items: center;
    }
    input,
    select {
        outline: unset;
        border-style: none;
        appearance: unset;
        border: none;
        font-family: "Montserrat", sans-serif;
        padding: 0.5rem 1rem;
        border-bottom: 1px solid gray;
        &:hover,
        &:focus {
            border-color: #32c1db;
        }
    }
    select,
    label {
        color: #1f394c;
        font-size: 1rem;
    }
    select {
        width: 12rem;
        position: relative;
    }
    label {
        max-width: 8rem;
    }
    .filter-wrapper {
        position: relative;
        button {
            color: #32c1db;
            border: unset;
            background-color: unset;
            text-transform: uppercase;
            font-weight: 900;
            right: 0;
            cursor: pointer;
            position: absolute;
        }
    }
    .title-wrapper {
        text-transform: uppercase;
        color: #1f394c;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
            max-width: 300px;
        }
    }
}

@media screen and (max-width: 991px) {
    .section-listagem-blog,
    .section-blog-integra {
        .title-wrapper {
            flex-direction: column;
            gap: 1.5rem;
            h2 {
                max-width: unset;
            }
        }
        label {
            max-width: unset;
        }
    }
    .component-listagem-blog {
        .listagem-blog {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 768px) {
    .section-listagem-blog,
    .section-blog-integra {
        .listagem-blog {
            grid-template-columns: 1fr 1fr;
        }
        label {
            max-width: 7rem;
        }
        .container {
            max-width: unset;
        }
    }
}

@media screen and (max-width: 600px) {
    .section-listagem-blog {
        form {
            flex-direction: column;
        }
        .title-wrapper {
            h2 {
                text-align: center;
            }
        }
        label {
            max-width: unset;
        }
        .listagem-blog {
            display: grid;
            grid-template-columns: 1fr;
            gap: 3rem;
            padding: 3rem 0;
            justify-items: center;
        }
        .card-blog {
            max-width: 70%;
        }
    }
}

@media screen and (max-width: 425px) {
    .section-listagem-blog {
        .filter-wrapper {
            flex-direction: column;
            button {
                top: 77px;
            }
        }
        .card-blog {
            max-width: 90%;
        }
    }
}
