.btn {
    transition: 0.5s;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    &.--clubeHeader,
    &.--assineSobre {
        background-color: black;
        color: white;
        font-size: 0.8rem;
        padding: 1rem 1.5rem 1.2rem 1.5rem;
    }
    &.--clubeFooter {
        padding: 1rem 0.8rem;
        font-weight: 600;
        background-color: #32c1db;
        color: black;
    }
    &.--assine {
        font-weight: 400;
        background-color: #ea0000;
        color: white;
        padding: 0.25rem 0.8rem;
    }
    &.--assineHeader {
        font-size: 0.8rem;
        background-color: #32c1db;
        color: white;
        position: absolute;
        top: 2.5rem;
        left: 3.5rem;
        border-radius: 2px;
        padding: 0.25rem 0.8rem;
    }
    &.--login {
        font-size: 0.8rem;
    }
    &.--assineSobre {
        width: fit-content;
    }
    &.--submit {
        margin-top: 3rem;
        background-color: #5bcde2;
        color: #4327ab;
        font-weight: 500;
        font-size: 0.9rem;
        justify-content: center;
        padding: 1rem;
        border: none;
        cursor: pointer;
    }
    &.--clubeHome {
        background-color: #fdcb06;
        color: #6446bf;
        margin-bottom: 1rem;
        font-weight: 500;
        padding: 1rem;
        &:hover {
            background-color: #6446bf;
            color: #fdcb06;
        }
    }
    &.--clubeDescontos {
        position: absolute;
        padding: 1rem 1.5rem;
        color: white;
        font-size: 0.8rem;
        bottom: 5rem;
        background: linear-gradient(276.7deg, #ff7061 0.86%, #f29500 168.9%);
    }
    &.--assineEconomia {
        color: black;
        width: fit-content;
        padding: 1.5rem 2rem;
        background-color: #32c1db;
    }
}
