.section-estabelecimentos-conveniados-integra {
    padding: 3rem 0;
    .intro-row,
    .company-wrapper,
    .title-wrapper,
    .discount-wrapper,
    .discount-content,
    .information,
    .card-contact,
    .telephone-wrapper,
    .email-wrapper,
    .card-socialmedia,
    .card-information,
    .icon-img-container,
    .card-location,
    .usage {
        display: flex;
    }
    .title-wrapper,
    .card-contact,
    .card-information,
    .card-location,
    .usage {
        flex-direction: column;
    }
    .intro-row,
    .discount-wrapper {
        justify-content: space-between;
    }
    .card-socialmedia,
    .intro-row,
    .company-wrapper,
    .icon-img-container,
    .discount-content,
    .discount-wrapper {
        align-items: center;
    }

    .information,
    .intro-row,
    .gallery {
        padding: 1rem 0;
    }

    .intro-row {
        .discount-wrapper {
            gap: 2rem;
            a {
                background-color: #f0f0f0;
                padding: 0.8rem 1.6rem;
                border-radius: 5px;
                color: #6346bf;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 0.8rem;
                transition: 0.4s;
                &:hover {
                    color: #f0f0f0;
                    background-color: #6346bf;
                }
            }
        }
        .discount-content {
            gap: 0.5rem;
            span {
                border-radius: 50%;
                width: 50px;
                height: 50px;
                color: white;
                object-fit: cover;
                font-weight: 700;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #6346bf;
            }
        }
        .description {
            line-height: 175%;
        }
        .company-wrapper {
            .img-container {
                padding: 1rem;
                max-width: 180px;
                max-height: 200px;
                img {
                    max-width: 100%;
                }
            }
        }
    }

    .gallery {
        padding: 2rem 0;
        .swiper {
            height: 500px;
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .swiper-slide {
            background-size: cover;
            background-position: center;
        }

        .sliderDescontosIntegra {
            border-radius: 20px;
        }

        .sliderDescontosIntegraThumb {
            height: 150px;
            box-sizing: border-box;
            padding: 15px 0;
        }

        .sliderDescontosIntegraThumb .swiper-slide {
            width: 25%;
            height: 100%;
            border-radius: 10px;
            overflow: hidden;
            opacity: 0.4;
            transition: 0.2s;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }

        .sliderDescontosIntegraThumb .swiper-slide-thumb-active {
            opacity: 1;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .swiper-button-next {
            right: 20px;
        }
        .swiper-button-prev {
            left: 20px;
        }
        .swiper-button-prev,
        .swiper-button-next {
            --swiper-navigation-size: 15px;
            --swiper-theme-color: #32c1db;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            object-fit: cover;
            background-color: #fff;
            transition: 0.5s;
            &:hover {
                background-color: #32c1db;
                --swiper-theme-color: #fff;
            }
        }
    }

    .information {
        gap: 4rem;
        .card-information {
            padding: 1rem;
            background: #ffffff;
            box-shadow: 0px 12px 56px -10px rgba(61, 63, 64, 0.14);
            border-radius: 20px;
            gap: 2rem;
        }
        .card-contact,
        .card-socialmedia,
        .card-location {
            gap: 0.5rem;
        }
        .icon-img-container {
            padding: 0.2rem;
            background-color: #efecf9;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            justify-content: center;
        }

        .usage {
            gap: 1.5rem;
            a {
                background-color: #000000;
                padding: 0.8rem 1.6rem;
                border-radius: 5px;
                color: #ffffff;
                text-transform: uppercase;
                font-weight: 700;
                width: fit-content;
                margin-top: 1rem;
                font-size: 0.8rem;
                &:hover {
                    transition: 0.4s;
                    background-color: #6346bf;
                }
            }
        }
    }
}
