header {
    text-transform: uppercase;
    #btn-mobile {
        display: none;
    }
    .container {
        height: 100%;
    }
    .header-top {
        background: black;
        height: 2.5rem;
        color: white;
    }
    .header-top-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .header-icons {
        display: flex;
        gap: 2rem;
        a {
            transition: 0.3s;
            display: flex;
            &:hover {
                filter: invert(36%) sepia(12%) saturate(2548%)
                    hue-rotate(144deg) brightness(100%) contrast(86%);
            }
        }
    }
    .header-main {
        height: 8rem;
        position: relative;
        background-color: white;
        .header-main-content {
            display: flex;
            align-items: center;
            height: 100%;
            justify-content: space-between;
        }
        .active {
            a {
                color: #32c1db;
                // content: url("../site/img/icon-star.svg");
            }
        }
        nav {
            display: flex;
        }
        a {
            font-weight: 500;
            transition: 0.4s;
            color: black;
            font-size: 0.9rem;
            &:hover {
                color: #32c1db;
            }
        }

        ul {
            gap: 2rem;
            display: flex;
            list-style-type: none;
        }
        .buttons-container {
            display: flex;
            gap: 2rem;
            align-items: center;
        }
        .buttons-clube-container {
            position: relative;
            font-weight: 600;
            // display: flex;
            // align-items: center;
            // flex-direction: column;
            &:hover {
                .btn {
                    &.--clubeHeader {
                        background-color: #32c1db;
                    }
                    &.--assineHeader {
                        background-color: black;
                    }
                }
            }
        }
        .logo-container {
            position: relative;
            padding: 0.6rem;
            top: -1rem;
            display: flex;
            justify-content: center;
            width: 160px;
            height: 160px;
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
            align-items: center;
            img {
                border-radius: 50%;
                width: 160px;
                height: 140px;
                background-color: white;
            }
        }
        .button-login-container {
            a {
                display: flex;
                gap: 0.5rem;
            }
            img {
                transition: 0.5s;
            }
            span {
                font-weight: 400;
                transition: 0.5s;
                color: black;
            }
            &:hover {
                img {
                    filter: brightness(0);
                }
                span {
                    color: #32c1db;
                }
            }
        }
    }
}
.btn {
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    &.--ctaClube {
        padding: 1rem 0.8rem;
        font-weight: 600;
        background-color: #32c1db;
        color: black;
    }
    &.--assine {
        font-weight: 400;
        background-color: #ea0000;
        color: white;
        padding: 0.25rem 0.8rem;
    }
}
@media screen and (max-width: 1200px) {
    header {
        nav {
            padding: unset;
            justify-content: flex-end;
            ul {
                max-width: unset;
            }
        }
        .header-main {
            .active {
                a {
                    color: black;
                }
            }
        }
        .menu {
            right: 0;
            top: 5rem;
        }
        .menu-list {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 100%;
            top: 8rem;
            right: 0;
            background-color: #fff;
            transition: 0.5s;
            z-index: 1000;
            height: 0;
            visibility: hidden;
            overflow-y: hidden;
        }
        .nav-menu.active .menu-list {
            height: 24rem;
            visibility: visible;
            overflow-y: auto;
        }

        .menu-list a {
            padding: 1rem 0;
            margin: 0 1rem;
        }

        #btn-mobile {
            display: flex;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            background: none;
            border: none;
            cursor: pointer;
            gap: 1.5rem;
            position: absolute;
            right: 0;
            top: 4rem;
        }

        #hamburguer {
            border-top: 2px solid #fff;
            width: 30px;
        }

        #hamburguer::before,
        #hamburguer::after {
            content: "";
            display: block;
            position: relative;
            width: 30px;
            height: 2px;
            margin-top: 5px;
            border-top: 5px;
            background-color: #fff;
            transition: 0.5s ease;
        }

        .nav-menu.active #hamburguer {
            border-top: transparent;
        }

        .nav-menu.active #hamburguer::before {
            transform: rotate(135deg);
        }

        .nav-menu.active #hamburguer::after {
            transform: rotate(-135deg);
            top: -7px;
        }
    }
}
