.section-hero-component {
    background: linear-gradient(96.21deg, #8345c0 2.61%, #5846be 99.5%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 0;
    height: 20rem;
    .hero-component-content {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        justify-content: center;
        position: relative;
        color: white;
        text-transform: uppercase;
    }
    h1 {
        position: absolute;
        font-size: 3rem;
    }
    ul {
        list-style-type: none;
        display: flex;
        gap: 0.8rem;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    li,
    a {
        color: white;
    }
    .a-1 {
        display: block;
    }
}

@media screen and (max-width: 1000px) {
    .section-hero-component {
        padding: 2rem 0;
        ul {
            bottom: 0;
            top: unset;
            transform: unset;
        }
    }
}
