.swiperDescontos {
    width: 100%;
    height: 30rem;
    display: flex;
    padding: 2rem;
    .swiper-wrapper {
        display: flex;
        height: 24rem;
        align-items: center;
    }
    .swiper-slide {
        display: flex;
        height: calc((100% - 40px) / 2);
        a {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            transition: 0.3s;
            background: #ffffff;
            box-shadow: 0px 12px 30px rgba(61, 63, 64, 0.14);
            border-radius: 10px;
            padding: 2rem;
            color: #000;
            &:hover {
                transform: scale(1.1);
            }
        }
        p {
            max-width: 8rem;
            text-align: center;
        }
    }
    .swiper-buttons-container {
        position: relative;
        bottom: 75px;
    }
    .swiper-button-prev,
    .swiper-button-next {
        position: absolute;
        top: 20%;
    }
    .swiper-button-next {
        right: -110px;
    }
}

.slider-descontos {
    padding: 5rem 0;
}

.swiperEstabelecimentosConveniados {
    height: 34rem;
    padding: 0 4rem;
    width: 100%;
    .swiper-wrapper {
        margin-top: 20px;
    }
    .img-container {
        max-width: 60%;
        position: relative;
        img {
            width: 100%;
        }
    }
    p {
        max-width: 200px;
    }
    .a-main {
        display: flex;
        align-items: center;
        color: black;
        flex-direction: column;
        width: 90%;
        gap: 1.5rem;
        transition: 0.5s;
        background: #ffffff;
        box-shadow: 0px 12px 30px rgba(61, 63, 64, 0.14);
        padding: 1rem;
        position: relative;
        &:hover {
            .outro {
                transition: 0.5s;
                display: inline-flex;
            }
        }
    }
    .content {
        padding-bottom: 4rem;
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
    .swiper-button-next,
    .swiper-button-prev {
        --swiper-navigation-size: 20px;
        --swiper-theme-color: #ffffff;
        padding: 1.5rem;
        border-radius: 50%;
        object-fit: cover;
        background-color: #32c1db;
    }
    .teste {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #6346bf;
        bottom: 0;
        right: 10px;
        display: flex;
        color: white;
        align-items: center;
        justify-content: center;
    }
    h3 {
        max-width: 10rem;
        text-transform: uppercase;
    }
    .outro {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        transition: 0.5s;
        color: white;
        background-color: purple;
        padding: 1rem;
        width: fit-content;
    }
}

.swiperBlog {
    height: 28rem;
}
.component-listagem-estabelecimentos-conveniados {
    padding: 5rem 0;
    .listagem-estabelecimentos-conveniados {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
    .img-container {
        max-width: 60%;
        position: relative;
        img {
            width: 100%;
        }
    }
    p {
        max-width: 200px;
    }
    .a-main {
        display: flex;
        align-items: center;
        color: black;
        flex-direction: column;
        gap: 1.5rem;
        transition: 0.5s;
        background: #ffffff;
        box-shadow: 0px 12px 30px rgba(61, 63, 64, 0.14);
        padding: 1rem;
        position: relative;
        &:hover {
            .outro {
                transition: 0.5s;
                display: inline-flex;
            }
        }
    }
    .content {
        padding-bottom: 4rem;
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
    .teste {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #6346bf;
        bottom: 0;
        right: 10px;
        display: flex;
        color: white;
        align-items: center;
        justify-content: center;
    }
    h3 {
        max-width: 10rem;
        text-transform: uppercase;
    }
    .outro {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
        transition: 0.5s;
        color: white;
        background-color: purple;
        padding: 1rem;
        width: fit-content;
    }
}
@media screen and (max-width: 991px) {
    .component-listagem-estabelecimentos-conveniados {
        .listagem-estabelecimentos-conveniados {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 600px) {
    .component-listagem-estabelecimentos-conveniados {
        .listagem-estabelecimentos-conveniados {
            grid-template-columns: 1fr;
        }
    }
}
