@import "_header.scss";
@import "_footer.scss";
@import "_btn.scss";
@import "_slider.scss";
@import "_ajuda.scss";
@import "_blog.scss";
@import "_descontos.scss";
@import "_faq.scss";
@import "_hero.scss";
@import "_home.scss";
@import "_parceiros.scss";
@import "_sobre.scss";

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1300px) {
    .container {
        max-width: 1240px;
    }
}

.section-hero {
    .descontos-home {
        h3,
        h2 {
            color: white;
            text-align: center;
            text-transform: uppercase;
        }
        h2 {
            font-size: 2.5rem;
            margin-top: 1rem;
        }
        h3 {
            font-weight: 300;
            font-size: 1.2rem;
        }
        padding: 3rem 0;
        background-color: rgba(164, 112, 223, 0.753);
        .descontos-wraper {
            padding: 4rem 0;
            row-gap: 3rem;
            column-gap: 2rem;
            justify-content: center;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        .desconto-wraper {
            gap: 1rem;
            display: flex;
        }

        .desconto-number,
        .desconto-text {
            color: white;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
        .desconto-number {
            font-weight: 700;
            font-size: 1.5rem;
        }
        .desconto-text {
            align-items: flex-start;
            line-height: 190%;
            font-size: 1rem;
        }
        .desconto-text:first-child {
            span {
                font-weight: 700;
            }
        }
        .descontos {
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.section-descontos {
    position: relative;
    .teste-black {
        height: 55rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .col-black {
        background-color: black;
    }
    .text-descontos {
        margin-top: 3rem;
        color: rgb(255, 0, 0);
        position: absolute;
        top: 0;
        width: 100%;

        img {
            width: 4rem;
            height: 4rem;
        }
    }
    .text-container,
    .text-desconto-container {
        display: flex;
    }
    .text-container {
        color: white;
        justify-content: center;
        text-transform: uppercase;
        flex-direction: column;
    }
    .text-desconto-container {
        gap: 1rem;
    }

    .img-wraper {
        max-width: 30%;
        img {
            width: 100%;
        }
    }
    .teste {
        width: 100%;
    }
    .descontos-main {
        padding: 10rem 0;
        display: flex;
        top: 0;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        margin: 0 auto;
        left: -50%;
        right: -50%;
    }
    .cards-descontos {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: space-between;
    }
    .card-descontos {
        img {
            max-width: 75px;
            max-height: 75px;
        }
        gap: 1rem;
        transition: 0.5s;
        align-items: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 10rem;
        padding: 2rem 3rem;
        background: white;
        box-shadow: 0px 12px 56px -10px rgba(61, 63, 64, 0.14);
        border-radius: 20px;
        position: relative;
        &:hover {
            background: linear-gradient(
                276.7deg,
                #ff7061 0.86%,
                #f29500 168.9%
            );
            border-radius: 20px;
        }
    }
    .left::before {
        content: "";
        top: 50%;
        // right: -5px;
        margin: 0 auto;
        position: absolute;
        width: 10px;
        border-radius: 50%;
        background: linear-gradient(276.7deg, #ff7061 0.86%, #f29500 168.9%);
        border: 2px solid transparent;
        height: 10px;
    }
    .left::after {
        content: "";
        top: 53%;
        // right: -106px;
        margin: 0 auto;
        position: absolute;
        width: 100px;
        background: linear-gradient(276.7deg, #ff7061 0.86%, #f29500 168.9%);
        height: 0.1px;
        z-index: 5;
    }
    // .btn-wraper {
    //     display: flex;
    //     justify-content: center;
    // }
    .img-wraper {
        display: flex;
        justify-content: center;
        position: relative;
    }
}

.section-vantagens {
    padding: 5rem 0;
    /*sobre*/
    .sobre-main {
        padding-bottom: 10rem;
        background-color: black;
        color: white;
    }
    .content-sobre-main {
        display: flex;
        align-items: center;
        padding: 5rem 1.5rem;
        gap: 2rem;
        img {
            filter: brightness(1000%);
            transform: scale(1.2);
        }
        .text-sobre-main {
            h3 {
                text-transform: uppercase;
                margin-bottom: 2rem;
                font-size: 1.5rem;
            }
            p {
                font-weight: 300;
                font-size: 1rem;
                margin-bottom: 1rem;
            }
        }
    }
    .sobre-vantagens {
        display: flex;
        position: relative;
        top: -130px;
        img {
            max-width: 60%;
        }
        &.container {
            padding-left: 0;
        }
        .title-sobre-vantagens {
            padding: 2rem 0;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: white;
            position: relative;
            top: -36px;
        }
        h3 {
            max-width: 16rem;
            font-size: 1.5rem;
        }
        span {
            display: block;
            max-width: 12rem;
            color: #32c1db;
        }
        // .onda {
        //     width: 5rem;
        //     background-color: white;
        //     position: relative;
        //     height: 1rem;
        //     top: -1rem;
        //     left: 6rem;
        //     border-radius: 50%;
        //     z-index: 1;
        // }
        // .onda::before {
        //     content: url("site/img/icon-check.svg");
        //     z-index: -1;
        //     position: absolute;
        //     top: 0rem;
        //     left: 2rem;
        // }
        .texts-sobre-vantagens {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            padding-top: 2rem;
            box-sizing: border-box;
        }
        .text-sobre-vantagens {
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            gap: 1rem;
            font-weight: 700;
            text-transform: uppercase;
        }
        p {
            font-size: 1rem;
            margin-top: 1rem;
        }
    }
    /*sobre*/

    /*listagem-blog*/
}

.section-economia {
    padding: 5rem 0;
    background-color: black;
    color: white;
    .economia-content {
        justify-content: space-between;
        display: flex;
    }
    .col-1 {
        width: 40%;
        display: flex;
        gap: 3rem;
        flex-direction: column;
    }
    .title {
        gap: 1rem;
        display: flex;
        span {
            display: block;
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    .col-2 {
        display: flex;
        align-items: center;
        .calculadora-economia {
            padding: 2rem;
            background: linear-gradient(
                114.25deg,
                #8345c0 3.63%,
                #5846be 42.09%
            );
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
        .row-1,
        .row-2 {
            text-align: center;
        }
        .row-3 {
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }
        .calculadora-economia-categoria {
            display: flex;
            align-items: center;
            max-width: 30rem;
            column-gap: 2rem;
            h3 {
                max-width: 150px;
            }
            input {
                color: black;
                background-color: white;
                border-radius: 5px;
                padding: 1rem 3rem;
                border: none;
                appearance: unset;
                width: 100%;
            }
            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            .input-teste {
                display: flex;
                align-items: center;
                width: 30%;
            }
            p {
                padding-left: 10px;
                color: black;
                position: absolute;
                font-weight: 700;
            }
        }
    }
}
.section-slider-descontos {
    padding: 5rem 0;
    .slider-descontos-content {
        display: flex;
    }
}

@media screen and (max-width: 1000px) {
    .section-descontos {
        .descontos-main {
            flex-direction: column;
        }

        .cards-descontos {
            flex-direction: row;
        }
        .card-descontos {
            justify-content: center;
            text-align: center;
        }
        .card-descontos::before,
        .card-descontos::after {
            right: unset;
            content: "";
        }
    }
    .economia-content {
        flex-direction: column;
        gap: 5rem;
        .col-1 {
            width: unset;
        }
        .col-2 {
            justify-content: center;
        }
    }
    .section-vantagens {
        padding: 5rem 0;
        .sobre-main {
            padding-bottom: 8rem;
        }
        .sobre-vantagens {
            flex-direction: column; //
            img {
                max-width: unset;
                margin-top: 3rem;
            }
        }
        .component-listagem-blog {
            margin-top: unset;
            .listagem-blog {
                flex-wrap: wrap;
                gap: 3rem;
                justify-content: center;
            }
            .card-blog {
                width: 60%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .section-descontos {
        .teste-black {
            height: 110rem;
        }
        .cards-descontos {
            flex-wrap: wrap;
            justify-content: center;
        }
        .card-descontos {
            width: 60%;
        }
    }
    .section-vantagens {
        .sobre-main {
            padding-bottom: 5rem;
        }
        .content-sobre-main {
            flex-direction: column;
            gap: 3rem;
        }
        .sobre-vantagens {
            top: -210px;
            .title-sobre-vantagens {
                top: 14px;
            }
        }
    }
    .economia-content {
        .calculadora-economia-categoria {
            flex-direction: column;
            row-gap: 1rem;
            h3 {
                text-align: center;
            }
        }
    }
}
