/*RESET CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Montserrat", sans-serif;
}
/*RESET CSS*/

header {
  text-transform: uppercase;
}

header #btn-mobile {
  display: none;
}

header .container {
  height: 100%;
}

header .header-top {
  background: black;
  height: 2.5rem;
  color: white;
}

header .header-top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

header .header-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

header .header-icons a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-icons a:hover {
  -webkit-filter: invert(36%) sepia(12%) saturate(2548%) hue-rotate(144deg) brightness(100%) contrast(86%);
          filter: invert(36%) sepia(12%) saturate(2548%) hue-rotate(144deg) brightness(100%) contrast(86%);
}

header .header-main {
  height: 8rem;
  position: relative;
  background-color: white;
}

header .header-main .header-main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-main .active a {
  color: #32c1db;
}

header .header-main nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-main a {
  font-weight: 500;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: black;
  font-size: 0.9rem;
}

header .header-main a:hover {
  color: #32c1db;
}

header .header-main ul {
  gap: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

header .header-main .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-main .buttons-clube-container {
  position: relative;
  font-weight: 600;
}

header .header-main .buttons-clube-container:hover .btn.--clubeHeader {
  background-color: #32c1db;
}

header .header-main .buttons-clube-container:hover .btn.--assineHeader {
  background-color: black;
}

header .header-main .logo-container {
  position: relative;
  padding: 0.6rem;
  top: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-main .logo-container img {
  border-radius: 50%;
  width: 160px;
  height: 140px;
  background-color: white;
}

header .header-main .button-login-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

header .header-main .button-login-container img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header-main .button-login-container span {
  font-weight: 400;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: black;
}

header .header-main .button-login-container:hover img {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

header .header-main .button-login-container:hover span {
  color: #32c1db;
}

.btn {
  text-transform: uppercase;
  border-radius: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn.--ctaClube {
  padding: 1rem 0.8rem;
  font-weight: 600;
  background-color: #32c1db;
  color: black;
}

.btn.--assine {
  font-weight: 400;
  background-color: #ea0000;
  color: white;
  padding: 0.25rem 0.8rem;
}

@media screen and (max-width: 1200px) {
  header nav {
    padding: unset;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header nav ul {
    max-width: unset;
  }
  header .header-main .active a {
    color: black;
  }
  header .menu {
    right: 0;
    top: 5rem;
  }
  header .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 100%;
    top: 8rem;
    right: 0;
    background-color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 1000;
    height: 0;
    visibility: hidden;
    overflow-y: hidden;
  }
  header .nav-menu.active .menu-list {
    height: 24rem;
    visibility: visible;
    overflow-y: auto;
  }
  header .menu-list a {
    padding: 1rem 0;
    margin: 0 1rem;
  }
  header #btn-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    gap: 1.5rem;
    position: absolute;
    right: 0;
    top: 4rem;
  }
  header #hamburguer {
    border-top: 2px solid #fff;
    width: 30px;
  }
  header #hamburguer::before,
  header #hamburguer::after {
    content: "";
    display: block;
    position: relative;
    width: 30px;
    height: 2px;
    margin-top: 5px;
    border-top: 5px;
    background-color: #fff;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  header .nav-menu.active #hamburguer {
    border-top: transparent;
  }
  header .nav-menu.active #hamburguer::before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  header .nav-menu.active #hamburguer::after {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    top: -7px;
  }
}

footer {
  text-transform: uppercase;
}

footer .footer-top {
  padding: 2.2rem 0;
  background-color: black;
  color: white;
}

footer .footer-top h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  max-width: 25.4rem;
}

footer .footer-newsletter,
footer .social-media,
footer .logo,
footer .icons-container,
footer .icons-img-container,
footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .social-media {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-newsletter {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer form,
footer .icons-container,
footer .icons-img-container,
footer .logo {
  gap: 1rem;
}

footer .logo,
footer form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer input {
  padding: 1rem 2rem;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  font-family: "Montserrat", sans-serif;
}

footer input::-webkit-input-placeholder {
  color: #3a556a;
  font-weight: 300;
}

footer input:-ms-input-placeholder {
  color: #3a556a;
  font-weight: 300;
}

footer input::-ms-input-placeholder {
  color: #3a556a;
  font-weight: 300;
}

footer input::placeholder {
  color: #3a556a;
  font-weight: 300;
}

footer .footer-newsletter-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  padding: 2rem 1.5rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

footer .icon-img-container {
  padding: 0.2rem;
  background-color: #efecf9;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .social-media {
  gap: 1rem;
}

footer .nav-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  padding: 3rem 1.5rem;
}

footer .nav-footer .col {
  max-width: 13rem;
}

footer .nav-footer ul {
  margin-bottom: 3rem;
  list-style-type: none;
  padding-left: unset;
}

footer .nav-footer li {
  line-height: 200%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

footer .nav-footer h3 {
  line-height: 150%;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

footer .nav-footer a {
  text-transform: none;
  font-size: 0.9rem;
  color: #3a556a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .nav-footer a:hover {
  color: #32c1db;
  text-decoration: underline;
}

footer .form-newsletter .container-input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .form-newsletter button {
  right: 0;
  color: #1f394c;
  font-weight: 900;
  border: none;
  text-transform: uppercase;
  background-color: unset;
  padding: 1rem;
  position: absolute;
}

@media screen and (max-width: 1000px) {
  footer .container {
    max-width: unset;
  }
  footer .nav-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footer-newsletter-content {
    gap: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  footer .footer-top-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
  }
}

.btn {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-transform: uppercase;
  border-radius: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn.--clubeHeader, .btn.--assineSobre {
  background-color: black;
  color: white;
  font-size: 0.8rem;
  padding: 1rem 1.5rem 1.2rem 1.5rem;
}

.btn.--clubeFooter {
  padding: 1rem 0.8rem;
  font-weight: 600;
  background-color: #32c1db;
  color: black;
}

.btn.--assine {
  font-weight: 400;
  background-color: #ea0000;
  color: white;
  padding: 0.25rem 0.8rem;
}

.btn.--assineHeader {
  font-size: 0.8rem;
  background-color: #32c1db;
  color: white;
  position: absolute;
  top: 2.5rem;
  left: 3.5rem;
  border-radius: 2px;
  padding: 0.25rem 0.8rem;
}

.btn.--login {
  font-size: 0.8rem;
}

.btn.--assineSobre {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn.--submit {
  margin-top: 3rem;
  background-color: #5bcde2;
  color: #4327ab;
  font-weight: 500;
  font-size: 0.9rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  border: none;
  cursor: pointer;
}

.btn.--clubeHome {
  background-color: #fdcb06;
  color: #6446bf;
  margin-bottom: 1rem;
  font-weight: 500;
  padding: 1rem;
}

.btn.--clubeHome:hover {
  background-color: #6446bf;
  color: #fdcb06;
}

.btn.--clubeDescontos {
  position: absolute;
  padding: 1rem 1.5rem;
  color: white;
  font-size: 0.8rem;
  bottom: 5rem;
  background: linear-gradient(276.7deg, #ff7061 0.86%, #f29500 168.9%);
}

.btn.--assineEconomia {
  color: black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.5rem 2rem;
  background-color: #32c1db;
}

.swiperDescontos {
  width: 100%;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
}

.swiperDescontos .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiperDescontos .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc((100% - 40px) / 2);
}

.swiperDescontos .swiper-slide a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #ffffff;
  -webkit-box-shadow: 0px 12px 30px rgba(61, 63, 64, 0.14);
          box-shadow: 0px 12px 30px rgba(61, 63, 64, 0.14);
  border-radius: 10px;
  padding: 2rem;
  color: #000;
}

.swiperDescontos .swiper-slide a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.swiperDescontos .swiper-slide p {
  max-width: 8rem;
  text-align: center;
}

.swiperDescontos .swiper-buttons-container {
  position: relative;
  bottom: 75px;
}

.swiperDescontos .swiper-button-prev,
.swiperDescontos .swiper-button-next {
  position: absolute;
  top: 20%;
}

.swiperDescontos .swiper-button-next {
  right: -110px;
}

.slider-descontos {
  padding: 5rem 0;
}

.swiperEstabelecimentosConveniados {
  height: 34rem;
  padding: 0 4rem;
  width: 100%;
}

.swiperEstabelecimentosConveniados .swiper-wrapper {
  margin-top: 20px;
}

.swiperEstabelecimentosConveniados .img-container {
  max-width: 60%;
  position: relative;
}

.swiperEstabelecimentosConveniados .img-container img {
  width: 100%;
}

.swiperEstabelecimentosConveniados p {
  max-width: 200px;
}

.swiperEstabelecimentosConveniados .a-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  gap: 1.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #ffffff;
  -webkit-box-shadow: 0px 12px 30px rgba(61, 63, 64, 0.14);
          box-shadow: 0px 12px 30px rgba(61, 63, 64, 0.14);
  padding: 1rem;
  position: relative;
}

.swiperEstabelecimentosConveniados .a-main:hover .outro {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.swiperEstabelecimentosConveniados .content {
  padding-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiperEstabelecimentosConveniados .swiper-button-next,
.swiperEstabelecimentosConveniados .swiper-button-prev {
  --swiper-navigation-size: 20px;
  --swiper-theme-color: #ffffff;
  padding: 1.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #32c1db;
}

.swiperEstabelecimentosConveniados .teste {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #6346bf;
  bottom: 0;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiperEstabelecimentosConveniados h3 {
  max-width: 10rem;
  text-transform: uppercase;
}

.swiperEstabelecimentosConveniados .outro {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
  background-color: purple;
  padding: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.swiperBlog {
  height: 28rem;
}

.component-listagem-estabelecimentos-conveniados {
  padding: 5rem 0;
}

.component-listagem-estabelecimentos-conveniados .listagem-estabelecimentos-conveniados {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.component-listagem-estabelecimentos-conveniados .img-container {
  max-width: 60%;
  position: relative;
}

.component-listagem-estabelecimentos-conveniados .img-container img {
  width: 100%;
}

.component-listagem-estabelecimentos-conveniados p {
  max-width: 200px;
}

.component-listagem-estabelecimentos-conveniados .a-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #ffffff;
  -webkit-box-shadow: 0px 12px 30px rgba(61, 63, 64, 0.14);
          box-shadow: 0px 12px 30px rgba(61, 63, 64, 0.14);
  padding: 1rem;
  position: relative;
}

.component-listagem-estabelecimentos-conveniados .a-main:hover .outro {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.component-listagem-estabelecimentos-conveniados .content {
  padding-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.component-listagem-estabelecimentos-conveniados .teste {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #6346bf;
  bottom: 0;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.component-listagem-estabelecimentos-conveniados h3 {
  max-width: 10rem;
  text-transform: uppercase;
}

.component-listagem-estabelecimentos-conveniados .outro {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
  background-color: purple;
  padding: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width: 991px) {
  .component-listagem-estabelecimentos-conveniados .listagem-estabelecimentos-conveniados {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .component-listagem-estabelecimentos-conveniados .listagem-estabelecimentos-conveniados {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.component-listagem-blog .a-main,
.swiperBlog .a-main {
  cursor: pointer;
}

.component-listagem-blog .a-main:hover,
.swiperBlog .a-main:hover {
  background: #6346bf;
  color: white;
}

.component-listagem-blog .a-main:hover .btn,
.swiperBlog .a-main:hover .btn {
  background-color: white;
  color: #6346bf;
}

.component-listagem-blog .a-main:hover p,
.swiperBlog .a-main:hover p {
  background-color: #8566e8;
}

.component-listagem-blog .listagem-blog,
.swiperBlog .listagem-blog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 3rem;
  padding: 3rem 0;
}

.component-listagem-blog .card-blog,
.swiperBlog .card-blog {
  border-radius: 0 20px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 18px 59px -37px #6346bf;
          box-shadow: 0px 18px 59px -37px #6346bf;
}

.component-listagem-blog .card-blog:hover,
.swiperBlog .card-blog:hover {
  background: #6346bf;
  color: white;
}

.component-listagem-blog .card-blog:hover .btn,
.swiperBlog .card-blog:hover .btn {
  background-color: white;
  color: #6346bf;
}

.component-listagem-blog .card-blog:hover p,
.swiperBlog .card-blog:hover p {
  background-color: #8566e8;
}

.component-listagem-blog .card-blog:hover h3,
.swiperBlog .card-blog:hover h3 {
  color: white;
}

.component-listagem-blog .card-blog-content,
.swiperBlog .card-blog-content {
  height: 12rem;
  padding: 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.component-listagem-blog .img-card-blog-container,
.swiperBlog .img-card-blog-container {
  height: 180px;
  width: 100%;
}

.component-listagem-blog .img-card-blog-container img,
.swiperBlog .img-card-blog-container img {
  height: 100%;
  width: 100%;
}

.component-listagem-blog .card-blog-data,
.swiperBlog .card-blog-data {
  position: absolute;
  top: 0;
  left: 15px;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 0.5rem 1rem;
  color: white;
  background-color: #6346bf;
}

.component-listagem-blog .btn,
.swiperBlog .btn {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  background-color: #6346bf;
  padding: 0.4rem 0.8rem;
  border-radius: 20px 0 20px 0;
  font-size: 1.6rem;
  font-weight: 400;
}

.component-listagem-blog h3,
.swiperBlog h3 {
  color: black;
}

.section-blog-integra .img-integra-wrapper {
  max-width: 100%;
}

.section-blog-integra .img-integra-wrapper img {
  width: 100%;
}

.section-blog-integra .blog-post {
  padding: 4rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-blog-integra .blog-post p {
  color: #1f394c;
  line-height: 29.56px;
  margin-bottom: 1rem;
}

.section-blog-integra .blog-share-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-blog-integra .blog-share-content p {
  margin-bottom: unset;
}

.section-blog-integra .line {
  background: linear-gradient(96.21deg, #8345c0 2.61%, #5846be 99.5%);
  height: 2px;
  width: 100%;
}

.section-blog-integra .related-posts {
  padding: 5rem 0;
}

.section-blog-integra .related-posts .title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-blog-integra .related-posts .title-wrapper h3 {
  font-weight: 400;
}

.section-blog-integra .related-posts .component-listagem-blog {
  margin-top: unset;
}

.section-listagem-blog {
  padding: 3rem 0;
}

.section-listagem-blog form,
.section-listagem-blog .filter-wrapper,
.section-listagem-blog .select-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-listagem-blog input,
.section-listagem-blog select {
  outline: unset;
  border-style: none;
  -webkit-appearance: unset;
     -moz-appearance: unset;
          appearance: unset;
  border: none;
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid gray;
}

.section-listagem-blog input:hover, .section-listagem-blog input:focus,
.section-listagem-blog select:hover,
.section-listagem-blog select:focus {
  border-color: #32c1db;
}

.section-listagem-blog select,
.section-listagem-blog label {
  color: #1f394c;
  font-size: 1rem;
}

.section-listagem-blog select {
  width: 12rem;
  position: relative;
}

.section-listagem-blog label {
  max-width: 8rem;
}

.section-listagem-blog .filter-wrapper {
  position: relative;
}

.section-listagem-blog .filter-wrapper button {
  color: #32c1db;
  border: unset;
  background-color: unset;
  text-transform: uppercase;
  font-weight: 900;
  right: 0;
  cursor: pointer;
  position: absolute;
}

.section-listagem-blog .title-wrapper {
  text-transform: uppercase;
  color: #1f394c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-listagem-blog .title-wrapper h2 {
  max-width: 300px;
}

@media screen and (max-width: 991px) {
  .section-listagem-blog .title-wrapper,
  .section-blog-integra .title-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
  }
  .section-listagem-blog .title-wrapper h2,
  .section-blog-integra .title-wrapper h2 {
    max-width: unset;
  }
  .section-listagem-blog label,
  .section-blog-integra label {
    max-width: unset;
  }
  .component-listagem-blog .listagem-blog {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .section-listagem-blog .listagem-blog,
  .section-blog-integra .listagem-blog {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .section-listagem-blog label,
  .section-blog-integra label {
    max-width: 7rem;
  }
  .section-listagem-blog .container,
  .section-blog-integra .container {
    max-width: unset;
  }
}

@media screen and (max-width: 600px) {
  .section-listagem-blog form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-listagem-blog .title-wrapper h2 {
    text-align: center;
  }
  .section-listagem-blog label {
    max-width: unset;
  }
  .section-listagem-blog .listagem-blog {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 3rem;
    padding: 3rem 0;
    justify-items: center;
  }
  .section-listagem-blog .card-blog {
    max-width: 70%;
  }
}

@media screen and (max-width: 425px) {
  .section-listagem-blog .filter-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-listagem-blog .filter-wrapper button {
    top: 77px;
  }
  .section-listagem-blog .card-blog {
    max-width: 90%;
  }
}

.section-estabelecimentos-conveniados-integra {
  padding: 3rem 0;
}

.section-estabelecimentos-conveniados-integra .intro-row,
.section-estabelecimentos-conveniados-integra .company-wrapper,
.section-estabelecimentos-conveniados-integra .title-wrapper,
.section-estabelecimentos-conveniados-integra .discount-wrapper,
.section-estabelecimentos-conveniados-integra .discount-content,
.section-estabelecimentos-conveniados-integra .information,
.section-estabelecimentos-conveniados-integra .card-contact,
.section-estabelecimentos-conveniados-integra .telephone-wrapper,
.section-estabelecimentos-conveniados-integra .email-wrapper,
.section-estabelecimentos-conveniados-integra .card-socialmedia,
.section-estabelecimentos-conveniados-integra .card-information,
.section-estabelecimentos-conveniados-integra .icon-img-container,
.section-estabelecimentos-conveniados-integra .card-location,
.section-estabelecimentos-conveniados-integra .usage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-estabelecimentos-conveniados-integra .title-wrapper,
.section-estabelecimentos-conveniados-integra .card-contact,
.section-estabelecimentos-conveniados-integra .card-information,
.section-estabelecimentos-conveniados-integra .card-location,
.section-estabelecimentos-conveniados-integra .usage {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-estabelecimentos-conveniados-integra .intro-row,
.section-estabelecimentos-conveniados-integra .discount-wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-estabelecimentos-conveniados-integra .card-socialmedia,
.section-estabelecimentos-conveniados-integra .intro-row,
.section-estabelecimentos-conveniados-integra .company-wrapper,
.section-estabelecimentos-conveniados-integra .icon-img-container,
.section-estabelecimentos-conveniados-integra .discount-content,
.section-estabelecimentos-conveniados-integra .discount-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-estabelecimentos-conveniados-integra .information,
.section-estabelecimentos-conveniados-integra .intro-row,
.section-estabelecimentos-conveniados-integra .gallery {
  padding: 1rem 0;
}

.section-estabelecimentos-conveniados-integra .intro-row .discount-wrapper {
  gap: 2rem;
}

.section-estabelecimentos-conveniados-integra .intro-row .discount-wrapper a {
  background-color: #f0f0f0;
  padding: 0.8rem 1.6rem;
  border-radius: 5px;
  color: #6346bf;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.section-estabelecimentos-conveniados-integra .intro-row .discount-wrapper a:hover {
  color: #f0f0f0;
  background-color: #6346bf;
}

.section-estabelecimentos-conveniados-integra .intro-row .discount-content {
  gap: 0.5rem;
}

.section-estabelecimentos-conveniados-integra .intro-row .discount-content span {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  -o-object-fit: cover;
     object-fit: cover;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #6346bf;
}

.section-estabelecimentos-conveniados-integra .intro-row .description {
  line-height: 175%;
}

.section-estabelecimentos-conveniados-integra .intro-row .company-wrapper .img-container {
  padding: 1rem;
  max-width: 180px;
  max-height: 200px;
}

.section-estabelecimentos-conveniados-integra .intro-row .company-wrapper .img-container img {
  max-width: 100%;
}

.section-estabelecimentos-conveniados-integra .gallery {
  padding: 2rem 0;
}

.section-estabelecimentos-conveniados-integra .gallery .swiper {
  height: 500px;
}

.section-estabelecimentos-conveniados-integra .gallery .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-estabelecimentos-conveniados-integra .gallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-estabelecimentos-conveniados-integra .gallery .swiper-slide {
  background-size: cover;
  background-position: center;
}

.section-estabelecimentos-conveniados-integra .gallery .sliderDescontosIntegra {
  border-radius: 20px;
}

.section-estabelecimentos-conveniados-integra .gallery .sliderDescontosIntegraThumb {
  height: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 0;
}

.section-estabelecimentos-conveniados-integra .gallery .sliderDescontosIntegraThumb .swiper-slide {
  width: 25%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.4;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.section-estabelecimentos-conveniados-integra .gallery .sliderDescontosIntegraThumb .swiper-slide:hover {
  opacity: 1;
}

.section-estabelecimentos-conveniados-integra .gallery .sliderDescontosIntegraThumb .swiper-slide-thumb-active {
  opacity: 1;
}

.section-estabelecimentos-conveniados-integra .gallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-estabelecimentos-conveniados-integra .gallery .swiper-button-next {
  right: 20px;
}

.section-estabelecimentos-conveniados-integra .gallery .swiper-button-prev {
  left: 20px;
}

.section-estabelecimentos-conveniados-integra .gallery .swiper-button-prev,
.section-estabelecimentos-conveniados-integra .gallery .swiper-button-next {
  --swiper-navigation-size: 15px;
  --swiper-theme-color: #32c1db;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-estabelecimentos-conveniados-integra .gallery .swiper-button-prev:hover,
.section-estabelecimentos-conveniados-integra .gallery .swiper-button-next:hover {
  background-color: #32c1db;
  --swiper-theme-color: #fff;
}

.section-estabelecimentos-conveniados-integra .information {
  gap: 4rem;
}

.section-estabelecimentos-conveniados-integra .information .card-information {
  padding: 1rem;
  background: #ffffff;
  -webkit-box-shadow: 0px 12px 56px -10px rgba(61, 63, 64, 0.14);
          box-shadow: 0px 12px 56px -10px rgba(61, 63, 64, 0.14);
  border-radius: 20px;
  gap: 2rem;
}

.section-estabelecimentos-conveniados-integra .information .card-contact,
.section-estabelecimentos-conveniados-integra .information .card-socialmedia,
.section-estabelecimentos-conveniados-integra .information .card-location {
  gap: 0.5rem;
}

.section-estabelecimentos-conveniados-integra .information .icon-img-container {
  padding: 0.2rem;
  background-color: #efecf9;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-estabelecimentos-conveniados-integra .information .usage {
  gap: 1.5rem;
}

.section-estabelecimentos-conveniados-integra .information .usage a {
  background-color: #000000;
  padding: 0.8rem 1.6rem;
  border-radius: 5px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1rem;
  font-size: 0.8rem;
}

.section-estabelecimentos-conveniados-integra .information .usage a:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #6346bf;
}

.section-hero-component {
  background: linear-gradient(96.21deg, #8345c0 2.61%, #5846be 99.5%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 0;
  height: 20rem;
}

.section-hero-component .hero-component-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  color: white;
  text-transform: uppercase;
}

.section-hero-component h1 {
  position: absolute;
  font-size: 3rem;
}

.section-hero-component ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8rem;
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section-hero-component li,
.section-hero-component a {
  color: white;
}

.section-hero-component .a-1 {
  display: block;
}

@media screen and (max-width: 1000px) {
  .section-hero-component {
    padding: 2rem 0;
  }
  .section-hero-component ul {
    bottom: 0;
    top: unset;
    -webkit-transform: unset;
            transform: unset;
  }
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1300px) {
  .container {
    max-width: 1240px;
  }
}

.section-hero .descontos-home {
  padding: 3rem 0;
  background-color: rgba(164, 112, 223, 0.753);
}

.section-hero .descontos-home h3,
.section-hero .descontos-home h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.section-hero .descontos-home h2 {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.section-hero .descontos-home h3 {
  font-weight: 300;
  font-size: 1.2rem;
}

.section-hero .descontos-home .descontos-wraper {
  padding: 4rem 0;
  row-gap: 3rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-hero .descontos-home .desconto-wraper {
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-hero .descontos-home .desconto-number,
.section-hero .descontos-home .desconto-text {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-hero .descontos-home .desconto-number {
  font-weight: 700;
  font-size: 1.5rem;
}

.section-hero .descontos-home .desconto-text {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 190%;
  font-size: 1rem;
}

.section-hero .descontos-home .desconto-text:first-child span {
  font-weight: 700;
}

.section-hero .descontos-home .descontos {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-descontos {
  position: relative;
}

.section-descontos .teste-black {
  height: 55rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.section-descontos .col-black {
  background-color: black;
}

.section-descontos .text-descontos {
  margin-top: 3rem;
  color: red;
  position: absolute;
  top: 0;
  width: 100%;
}

.section-descontos .text-descontos img {
  width: 4rem;
  height: 4rem;
}

.section-descontos .text-container,
.section-descontos .text-desconto-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-descontos .text-container {
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-descontos .text-desconto-container {
  gap: 1rem;
}

.section-descontos .img-wraper {
  max-width: 30%;
}

.section-descontos .img-wraper img {
  width: 100%;
}

.section-descontos .teste {
  width: 100%;
}

.section-descontos .descontos-main {
  padding: 10rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  left: -50%;
  right: -50%;
}

.section-descontos .cards-descontos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-descontos .card-descontos {
  gap: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 10rem;
  padding: 2rem 3rem;
  background: white;
  -webkit-box-shadow: 0px 12px 56px -10px rgba(61, 63, 64, 0.14);
          box-shadow: 0px 12px 56px -10px rgba(61, 63, 64, 0.14);
  border-radius: 20px;
  position: relative;
}

.section-descontos .card-descontos img {
  max-width: 75px;
  max-height: 75px;
}

.section-descontos .card-descontos:hover {
  background: linear-gradient(276.7deg, #ff7061 0.86%, #f29500 168.9%);
  border-radius: 20px;
}

.section-descontos .left::before {
  content: "";
  top: 50%;
  margin: 0 auto;
  position: absolute;
  width: 10px;
  border-radius: 50%;
  background: linear-gradient(276.7deg, #ff7061 0.86%, #f29500 168.9%);
  border: 2px solid transparent;
  height: 10px;
}

.section-descontos .left::after {
  content: "";
  top: 53%;
  margin: 0 auto;
  position: absolute;
  width: 100px;
  background: linear-gradient(276.7deg, #ff7061 0.86%, #f29500 168.9%);
  height: 0.1px;
  z-index: 5;
}

.section-descontos .img-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.section-vantagens {
  padding: 5rem 0;
  /*sobre*/
  /*sobre*/
  /*listagem-blog*/
}

.section-vantagens .sobre-main {
  padding-bottom: 10rem;
  background-color: black;
  color: white;
}

.section-vantagens .content-sobre-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem 1.5rem;
  gap: 2rem;
}

.section-vantagens .content-sobre-main img {
  -webkit-filter: brightness(1000%);
          filter: brightness(1000%);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.section-vantagens .content-sobre-main .text-sobre-main h3 {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.section-vantagens .content-sobre-main .text-sobre-main p {
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.section-vantagens .sobre-vantagens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -130px;
}

.section-vantagens .sobre-vantagens img {
  max-width: 60%;
}

.section-vantagens .sobre-vantagens.container {
  padding-left: 0;
}

.section-vantagens .sobre-vantagens .title-sobre-vantagens {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: white;
  position: relative;
  top: -36px;
}

.section-vantagens .sobre-vantagens h3 {
  max-width: 16rem;
  font-size: 1.5rem;
}

.section-vantagens .sobre-vantagens span {
  display: block;
  max-width: 12rem;
  color: #32c1db;
}

.section-vantagens .sobre-vantagens .texts-sobre-vantagens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  padding-top: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-vantagens .sobre-vantagens .text-sobre-vantagens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  gap: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.section-vantagens .sobre-vantagens p {
  font-size: 1rem;
  margin-top: 1rem;
}

.section-economia {
  padding: 5rem 0;
  background-color: black;
  color: white;
}

.section-economia .economia-content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-economia .col-1 {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-economia .title {
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-economia .title span {
  display: block;
}

.section-economia .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}

.section-economia .col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-economia .col-2 .calculadora-economia {
  padding: 2rem;
  background: linear-gradient(114.25deg, #8345c0 3.63%, #5846be 42.09%);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.section-economia .col-2 .row-1,
.section-economia .col-2 .row-2 {
  text-align: center;
}

.section-economia .col-2 .row-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.section-economia .col-2 .calculadora-economia-categoria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 30rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.section-economia .col-2 .calculadora-economia-categoria h3 {
  max-width: 150px;
}

.section-economia .col-2 .calculadora-economia-categoria input {
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 1rem 3rem;
  border: none;
  -webkit-appearance: unset;
     -moz-appearance: unset;
          appearance: unset;
  width: 100%;
}

.section-economia .col-2 .calculadora-economia-categoria input[type="number"]::-webkit-inner-spin-button,
.section-economia .col-2 .calculadora-economia-categoria input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.section-economia .col-2 .calculadora-economia-categoria .input-teste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.section-economia .col-2 .calculadora-economia-categoria p {
  padding-left: 10px;
  color: black;
  position: absolute;
  font-weight: 700;
}

.section-slider-descontos {
  padding: 5rem 0;
}

.section-slider-descontos .slider-descontos-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1000px) {
  .section-descontos .descontos-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-descontos .cards-descontos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section-descontos .card-descontos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .section-descontos .card-descontos::before,
  .section-descontos .card-descontos::after {
    right: unset;
    content: "";
  }
  .economia-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5rem;
  }
  .economia-content .col-1 {
    width: unset;
  }
  .economia-content .col-2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-vantagens {
    padding: 5rem 0;
  }
  .section-vantagens .sobre-main {
    padding-bottom: 8rem;
  }
  .section-vantagens .sobre-vantagens {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-vantagens .sobre-vantagens img {
    max-width: unset;
    margin-top: 3rem;
  }
  .section-vantagens .component-listagem-blog {
    margin-top: unset;
  }
  .section-vantagens .component-listagem-blog .listagem-blog {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-vantagens .component-listagem-blog .card-blog {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .section-descontos .teste-black {
    height: 110rem;
  }
  .section-descontos .cards-descontos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-descontos .card-descontos {
    width: 60%;
  }
  .section-vantagens .sobre-main {
    padding-bottom: 5rem;
  }
  .section-vantagens .content-sobre-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
  }
  .section-vantagens .sobre-vantagens {
    top: -210px;
  }
  .section-vantagens .sobre-vantagens .title-sobre-vantagens {
    top: 14px;
  }
  .economia-content .calculadora-economia-categoria {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1rem;
  }
  .economia-content .calculadora-economia-categoria h3 {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */